body {
    background:whitesmoke;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* navigation start | h1 & ul/li */
nav {
    background: #f7f7f7;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    position: sticky;
    top: 0;
    margin: 0;
    font-family: Segoe UI;
    color: #450396;
}

h1 {
    width: auto;
    margin: 0;
    padding: 10px;
    font-size: 2em;
    font-weight: 600;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 60%;
    margin: 0;
    padding: 10px;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 0;
}

li {

    text-decoration: none;  
    width: auto;
    padding: 0 10px;
    font-size: 1em;
    font-weight: 600;
}

/* home parent container div */
.page-container {
    width: 75%;
    height: auto;
    display: flex;
    justify-content: space-around;   
    margin: 0 auto;
    background:white;
}

/* card container parent div | two children divs | .pic-div (image) & text-div (card text) */ 
.card-container {
    width: 45%;
    height: auto;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pic-div {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3px;
    padding: 5px 0px;
}

.pic-div-img {
    width: 90%;
    height: auto;
    box-shadow: 2px 6px 7px 4px #8f8f8f;
}

.text-div {
    overflow: auto;
    height: 200px;
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3px;
    border: 1px solid #450396;
    padding: 5px 0px;
}

/* scroll bar for <p> text-div */
::-webkit-scrollbar {
    width: 3px;
    background: #450396;
}

.text-div p {
    font-family: Arial Narrow;
    font-size: .70em;
    font-weight: 600;
    color: #000;
    text-align: justify;
    word-wrap: break-word;
    text-indent: 20px;
    padding: 16px 11px;
    margin: 0 auto;
}

.text-div .copyright {
    font-size: 8px;
    text-indent: none;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    padding: 5px 8px;
}

.text-div .horoscope {
    font-size: 11px;
    color: #450396;
    font-family: Arial;
    text-align: center;
    font-weight: bold;
    padding: 10px 8px;
}

/* footer div | ul/li & image (.logo-img) */
footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    background: whitesmoke;
    bottom: 0;
    font-family: Segoe UI;
    justify-content: center;
    align-items: center;
}

.footer-ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
}

.footer-li {
    width: auto;
    font-size: 0.7em;
    font-weight: 600;
    padding: 2px;
}

.logo-img {
    width: 11%;
    height: auto;
    padding: 10px;
}




