body {
    /* background:whitesmoke; */
    background: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* navigation start | h1 & ul/li */
nav {
    background: #f7f7f7;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    position: sticky;
    top: 0;
    margin: 0;
    font-family: Segoe UI;
    color: #450396;
}

h1 {
    margin: 0;
    padding: 10px;
    font-size: 2em;
    font-weight: 600;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 60%;
    padding: 10px 20px 10px 10px;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 0;
}

li a {
    text-decoration: none;  
    width: auto;
    padding: 0 20px 0px 0px;
    font-size: 1.2em;
    font-weight: 600;
}

/* home parent container div */
.container {
    width: 91%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;   
    margin: 0;
    background: white;
}

/* card container parent div | two children divs | .pic-div (image) & text-div (card text) */ 
.card-container {
    width: 30%;
    height: auto;
    margin: 10px auto 10px auto; 
    background: #f7f7f7;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    box-shadow: 2px 6px 7px 4px #8f8f8f;
}

.pic-div {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3px;
    padding: 5px 0px;   
}

.pic-div-img {
    width: 75%;
    height: auto;
    box-shadow: 2px 6px 7px 4px #8f8f8f;
    border-radius: 15px;
}

/*added with JavaScript*/
.picbutton {
    background: white;
    font-family: arial;
    color: #000;
    font-size: .55em;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    border: 1px solid #450396;
    margin: 20px auto 10px auto;
    width: 25%;
    border-radius: 15px;
    padding: 3px;
    box-shadow: 2px 3px 4px 2px #8f8f8f;
}

.text-div {
    overflow: auto;
    height: 200px;
    width: 80%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 10px 0;
    border: 1px solid #8f8f8f;
    padding: 5px 0px;
    background: white;
}

/* scroll bar for <p> text-div */
::-webkit-scrollbar {
    width: 2px;
    background: #450396;
}

/*added with JavaScript*/
.text-div .rev-title {
    font-size: .65em;
    color: #450396;
    font-family: Arial;
    text-align: center;
    font-weight: 700;
    padding: 0;
    margin: auto;
    text-indent: 0;
}

.text-div p {
    font-family: Arial Narrow;
    font-size: .70em;
    font-weight: 800;
    color: #000;
    text-align: justify;
    word-wrap: break-word;
    text-indent: 20px;
    padding: 16px 3px;
    margin: auto;
}

.text-div .copyright {
    font-size: .40em;
    text-indent: none;
    text-align: center;
    font-weight: 700;
    font-style: normal;
    padding: 5px 8px;
    margin: auto;
    text-indent: 0;
}

.text-div .horoscope {
    font-size: .50em;
    color: #450396;
    font-family: Arial;
    text-align: center;
    word-wrap: break-word;
    font-weight: 700;
    padding: 10px 0;
    margin: 0;
    text-indent: 0;
}

/* footer div | ul/li & image (.logo-img) */
footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    background: whitesmoke;
    bottom: 0;
    font-family: Segoe UI;
    justify-content: center;
    align-items: center;
}

.footer-ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
}

.footer-li {
    width: auto;
    font-size: .80em;
    font-weight: 600;
    padding: 2px;
}

.logo-img {
    width: 13%;
    height: auto;
    padding: 10px;
}

.search {
    width: 67%; 
    text-align: center;   
}

.search input {
    width: 67%;
    font-size: .75em;
    font-weight: 700;
    font-family: Arial;
    background: #f7f7f7;
    padding: 5px;
    margin: 10px 0px 5px 0px;
    border: solid 1px #8f8f8f;
} 
